<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-3">
    <div class="col-6">
      <div class="mt-1">

        <form action="/praise/<%= praise._id %>?_method=PUT" method="POST">

          <input type="hidden" name="_method" value="PUT">

          <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" class="form-control" id="title" name="title" value=<%= praise.title %>
          </div>

          <img class="img-fluid mt-3" src="<%= praise.image%>" /> 

          <div class="mb-2 mt-3">
            <label for="caption" class="form-label">Caption</label>
            <textarea class="form-control" id="caption" name="caption"><%= praise.caption %></textarea>
          </div>

          <label for="status">Status</label>
          <div class="input-field mb-2">
            <select name="status" id="status">
                <option value="<%= praise.status %>" selected><%= praise.status %></option>
                <option value="<%= otherStatus %>"><%= otherStatus %></option>
            </select> 
          </div> 

          <div class="d-flex mt-4 justify-content-between">
            <button class="btn btnColor" type="submit">Save</button>
            <a href="/folder" class="btn btnColor">Cancel</a> 
          </form>
          </div>      
        </div>
      </div>
    </div>
</div>

<%- include('partials/footer') -%>