<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h3><%= praise.user %></h3>
      <h4><%= praise.title %></h4>

      <%if(praise.user == user.id){ %>
      
        <div class="d-flex">
          <form
            class="pinPosition position-absolute zindex"
            action="/praise/pinPraise/<%= praise.id %>?_method=PUT"
            method="POST">
            <button class="btn btnColor fa fa-thumbtack rounded-circle btn-lg" type="submit"></button>
          </form>

        </div>  
      <%}%>

      <div class="d-flex position-relative">
        <img class="img-fluid" src="<%= praise.image%>" />
        <%if(praise.user == user.id){ %>         
            <form action="/praise/editPraise/<%= praise.id %>?_method=GET" method="POST" >
              <button class="btn btnColor fa fa-edit picPosition1" type="submit"></button>
            </form>

            <form
            action="/praise/deletePraise/<%= praise.id %>?_method=DELETE"
            method="POST" >
            <button class="btn btnColor picPosition2 fa fa-trash" type="submit"></button>
            </form>                
        <%}%>
    </div>

      <div class="row justify-content-between">
        <div class="justify-content-start">
          <p><%= praise.caption %></p>
          <div class="d-flex mt-4">
            <form action="/praise/likePraise/<%= praise.id %>?_method=PUT"
            method="POST">
            <button class="btn btnColorRed fa fa-heart" type="submit"></button>
            </form>
            <h3 class="ml1rem"><%= praise.likes %> likes</h3>  
        </div>       
        </div>
      </div>
  

    <div class="mt-3">
      <form action="/comment/createComment/<%=praise._id%>" method="POST">
        <div class="col-6">
            <label for="comment" class="form-label">Add a Comment</label>
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <button type="submit" class="btn btnColor mt-3">Post</button>
      </form>
    </div>

    <ul class="list-unstyled">
      <% for(var i=0; i<comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <%= comments[i].createdByUsername%> says: "<%= comments[i].comment%>"

          <%if (comments[i].createdById == user.id){ %>
          <form
            action="/comment/deleteComment/<%= praise.id %>/<%= comments[i]._id %>?_method=DELETE"
            method="POST">
            <button class="btn btn-outline-danger" type="submit">Delete</button>
          </form>
          <%}%>
        </li>

        
      <% } %>
    </ul>
    
  </div>
  </div>
</div>

<%- include('partials/footer') -%>
